fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-perplexity
langchain-openai
langchain-anthropic
python-dotenv
pydantic
pytest
httpx
requests
google-search-results
streamlit
